<!-- Home Listing Card -->
<div class="col-xs-4 listing-card">
  <div class="box">
    <div class="top image-and-price">
        {{#link-to 'homes.home' home.id}}
        {{imgix-image-element
            path=home.coverImage
            crossorigin="anonymous"
            class="img img-responsive listing-img"
            style="width:100%; height:100%;"
            aspectRatio=1.333
        }}
        {{/link-to}}
      {{fermis-apartments-home-listing-previous-image-control previousImage=(action 'showPreviousImage')}}
      {{fermis-apartments-home-listing-next-image-control nextImage=(action 'showNextImage')}}
      <div class="price-tag">{{value-or-default home.monthly '0'}}/mo<sup>&#8373;</sup></div>
    </div>
    <div class="bottom details">
      <p class="lead description">{{value-or-default home.summary 'No summary'}}
      </p>
      <p class="small location-and-room-count">
        <span class="location">
        {{#link-to 'suburb' home.suburb.slug}}{{value-or-default home.suburb.name '...'}}{{/link-to}},
        {{#link-to 'town' home.town.slug}}{{value-or-default home.town.name '...'}}{{/link-to}}
        </span> &middot;
        <span class="room-count">{{home.rooms}} Room(s)</span> &middot;
        {{#link-to 'homes.home' home.id}}
          <i class="fa fa-arrow-circle-o-right"></i>
        {{/link-to}}
      </p>
    </div>
  </div>
</div>
