<p>Bedrooms: [sticky options]</p>
<p>Total Rent: {{fermis-apartment-slider name='price'
                                         connect=true
                                         openHandle=priceOpenHandle
                                         closeHandle=priceCloseHandle
                                         min=0
                                         max=10000
                                         margin=100
                                         action='search'}}</p>
<p>Months:     {{fermis-apartment-slider name='period'
                                         connect=true
                                         openHandle=periodOpenHandle
                                         closeHandle=periodCloseHandle
                                         min=0
                                         max=36
                                         step=1
                                         margin=3
                                         action='search'}}</p>
<p>Basic filters:<br>
 <label>{{input type='checkbox' checked=couple}} We're a couple</label><br>
 <label>{{input type='checkbox' checked=furnished}} Furnished</label><br>
 <label>{{input type='checkbox' checked=kitchen}} Private kitchen</label><br>
 <label>{{input type='checkbox' checked=pets}} Pets allowed</label><br>
</p>
<table id='more-filters' style='display:none'>
  <tr>
    <td class='key' valign='top'>Features</td>
    <td class='values' valign='top'>
      <label>{{input type='checkbox' checked=water}} Water</label><br>
      <label>{{input type='checkbox' checked=gated}} Fenced</label><br>
      <label>{{input type='checkbox' checked=dstv}} DSTv (Satellite/Cable TV)</label><br>
      <label>{{input type='checkbox' checked=internet}} Internet</label><br>
      <label>{{input type='checkbox' checked=laundry}} Washing Machine</label><br>
      <label>{{input type='checkbox' checked=garage}} Garage</label><br>
      <label>{{input type='checkbox' checked=ac}} Room air conditioning</label><br>
      <label>{{input type='checkbox' checked=garden}} Garden</label><br>
    </td>
  </tr>
  <tr>
    <td class='key' valign='top'>Religion</td>
    <td class='values' valign='top'>
      <label>{{input type='checkbox' checked=christian}} Christian</label><br>
      <label>{{input type='checkbox' checked=muslim}} Muslim</label><br>
      <label>{{input type='checkbox' checked=atheist}} Atheist</label><br>
      <label>{{input type='checkbox' checked=others}} Other religions</label><br>
    </td>
  </tr>
</table>
<button class='btn btn-large' id='filter-toggle'>More Filters</button>
