<!-- Home Listing Card -->
<div class="col-xs-4 listing-card">
  <div class="box">
    <div class="top image-and-price">
      <a href="#"><img src={{currentImage}} class="img img-responsive listing-image" /></a>
      {{fermis-apartments-home-listing-previous-image-control previousImage=(action 'showPreviousImage')}}
      {{fermis-apartments-home-listing-next-image-control nextImage=(action 'showNextImage')}}
      <div class="price-tag">{{value-or-default home.price '0'}} per month<sup>&#8373;</sup></div>
    </div>
    <div class="bottom details">
      <p class="lead description">{{value-or-default home.description 'No description'}}
      </p>
      <p class="small location-and-room-count">
        <span class="location">
        {{#link-to 'suburb' home.suburb.slug}}
          {{value-or-default home.suburb.name 'Unknown suburb'}},
        {{/link-to}}
        {{#link-to 'town' home.town.slug}}
          {{value-or-default home.town.name 'Unknown town'}}
        {{/link-to}}
        </span> &middot;
        <span class="room-count">{{home.rooms}} Room(s)</span> &middot;
        {{#link-to 'homes.home' home.id}}
          <i class="fa fa-arrow-circle-o-right"></i>
        {{/link-to}}
      </p>
    </div>
  </div>
</div>
