<h2>{{#link-to 'homes.home' home.id}}{{if home.description home.description "This beautiful home is missing the great description it deserves :("}}{{/link-to}}</h2>
<p>Price: GHS {{home.price}}</p>
<p>Private kitchen: <em>{{if home.kitchen "Yes" "No"}}</em></p>
<p>Private bathroom: <em>{{if home.bathroom "Yes" "No"}}</em></p>
<p>Internet (Wi-Fi): <em>{{ if home.internet "Yes" "No" }}</em></p>
<p>Number of rooms: <em>{{ home.rooms }}</em></p>

<p>Suburb: {{home.suburb.name}}</p>
<p>Town: {{link-to home.town.name 'town' home.town.slug}}</p>
