<!-- Home Listing Card --> 
<div class="col-xs-4 listing-card">
  <div class="box">
    <div class="top image-and-price">
      <a href="#"><img src="https://a1.muscache.com/im/pictures/110310002/bf11161f_original.jpg?aki_policy=x_medium" class="img img-responsive listing-image" /></a>
      <a href="" class="previous-image-control image-control"><i class="fa fa-angle-left fa-3x"></i></a>
      <a href="" class="next-image-control image-control"><i class="fa fa-angle-right fa-3x"></i></a>
      <div class="price-tag">{{home.price}} <sup>&#8373;</sup></div>
    </div>
    <div class="bottom details">
      <p class="lead description">{{value-or-default home.description 'No description'}}
      </p>
      <p class="small location-and-room-count">
        <span class="location">
        {{value-or-default home.suburb.name 'Unknown suburb'}},
        {{value-or-default home.town.name 'Unknown town'}}
        </span> &middot; 
        <span class="room-count">{{home.rooms}} Room(s)</span> &middot; 
        <a href="" class="full-details-link"><i class="fa fa-arrow-circle-o-right"></i></a>
      </p>
    </div>
  </div>
</div>
