<h2>Add new host</h2>
<form>
<p>
  {{input value=title placeholder="Mrs."}}
  {{input value=firstName placeholder="Agnes"}}
  {{input value=lastName placeholder="Oduro"}}
</p>
<p>
  <select onchange={{ action (mut gender) value="target.value"}}>
    <option value="M">Male</option>
    <option value="F">Female</option>
  </select>
</p>
<p>Marital status:
  {{radio-button value=1 groupValue=married}}Married
  {{radio-button value=0 groupValue=married}}Not married
</p>

This is a conditional statement. Only ask for this information if they're married. The UI should handle that.

<p>
  {{input value=spouseTitle placeholder="Mr."}}
  {{input value=spouseFirstName placeholder="Thomas"}}
  {{input value=spouseLastName placeholder="Oduro"}}
</p>
<p>{{input value=occupation placeholder="Trader"}}</p>
<p>{{textarea value=story placeholder="A really nice story, about you."}}</p>
<p>Shot of the host (and their spouse, or even better, family)
{{#fermis-file-uploader}}Drop image here, or click to upload one{{/fermis-file-uploader}}
</p>
<p><button type="submit" {{action "createHost"}}>Add host</button></p>
</form>
