<h2>By listing your property, you're helping someone find their peace.</h2>
<div>{{input value=price type=number placeholder="Price"}}</div>
<div>{{input value=rooms type=number placeholder="Number of rooms"}}</div>
<div>{{input value=period type=number placeholder="Months it can be rented for"}}</div>
<div>Private bathroom:
      {{radio-button value=1 groupValue=bathroom}}Yes
      {{radio-button value=0 groupValue=bathroom}}No
</div>
<div>Private kitchen:
      {{radio-button value=1 groupValue=kitchen}}Yes
      {{radio-button value=0 groupValue=kitchen}}No
</div>
<div><button {{action "createHome"}}>List my property</button></div>
