<h2>By listing your property, you're helping someone find their peace.</h2>
<form>
<div>
  <select onchange={{action (mut suburb) value="target.value"}}>
    <option>---</option>
    {{#each model as |choice|}}
    <option value={{choice.id}} selected={{eq suburb choice.id}}>{{choice.name}}</option>
    {{/each}}
  </select>
</div>
<div>{{input value=summary placeholder="A sweet summary of the home"}}</div>
<div>{{textarea value=description placeholder="A rather long description of the home"}}</div>
<div>{{input value=price placeholder="Price"}}</div>
<div>
  Rooms
  <div>Number of bedrooms: {{input value=bedrooms}}</div>
  <div>Number of halls: {{input value=halls}}</div>
</div>
<div>{{input value=period placeholder="Months it can be rented for"}}</div>
<div>
  <div>Bathrooms: {{input value=bathrooms}}</div>
  <div>
    <label>
      Shared:
        {{radio-button value=1 groupValue=sharedBathroom}}Yes
        {{radio-button value=0 groupValue=sharedBathroom}}No
    </label>
  </div>
</div>
<div>
  <label>
    Kitchen
      {{radio-button value=1 groupValue=kitchen}}Private
      {{radio-button value=0 groupValue=kitchen}}Shared
  </label>
</div>
<div><button {{action "createHome"}}>List my property</button></div>
</form>
