<div class="home-detail">
  {{fermis-apartments-image-gallery images=model.images}}

  <!-- Big Banner-->
  <!--<div class="jumbotron home-banner" style="background-image: url(https://a0.muscache.com/im/pictures/110857116/15925182_original.jpg?aki_policy=xx_large)">-->
  <div class="jumbotron home-banner" style="background-image: url({{coverImage}})">
    <div class="overlay">
      <p class="lead price-tag">{{value-or-default model.monthly '0'}} <sup>&#8373;</sup>/mo</p>
    </div>
  </div>

  <div class="container summary-and-call-to-action">
    <div class="row">
      <div class="col-lg-2 host-information-box">
        <img style="background-image: url('{{model.host.photo}}');" id="host-image" class="img img-circle img-responsive" />
        {{link-to model.host.homeLabelName 'host' model.host}}
      </div>
       <div class="col-lg-10 summary-and-call-to-action-box">
        <div class="row">
          <div class="col-lg-8 summary-box">
            <div class="summary">
              <h3 class="home-summary">{{model.summary}}</h3>
              <p class="small location-and-room-count">
                <span class="location">
                {{#link-to 'suburb' model.suburb.slug}}{{model.suburb.name}}{{/link-to}},
                {{#link-to 'town' model.town.slug}}{{model.town.name}}{{/link-to}}
                </span>
              </p>
              <div class="at-a-glance">
                <div class="feature">
                  <img class="img" src="/assets/images/couch3-razmattaz.png" />
                  <span class="feature-label">{{model.halls}} {{pluralize-text 'Hall' count=model.halls}}</span>
                </div>
                <div class="feature">
                  <img class="img" src="/assets/images/bed-razmattaz.png" />
                  <span class="feature-label">{{model.bedrooms}} {{pluralize-text 'Bedroom' count=model.bedrooms}}</span>
                </div>
                <div class="feature">
                  <img class="img" src="/assets/images/kitchen6-razmattaz.png" />
                  <span class="feature-label">{{model.kitchens}} {{pluralize-text 'Kitchen' count=model.kitchens}}</span>
                </div>
                <div class="feature">
                  <img class="img" src="/assets/images/toilet-razmattaz.png" />
                  <span class="feature-label">{{model.bathroom.quantity}} {{pluralize-text 'Bathroom' count=model.bathroom.quantity}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 call-to-action-box">
            <p class="lead text-muted small">Want to schedule a date and time to see this property?<br /> Call either
            <ul>
              {{#each model.suburb.deputies as |dep|}}
              <li>
                <span class="agent-name">{{dep.firstName}}</span>&nbsp;on&nbsp;
                <span class="agent-phone-number">{{dep.phoneNumber}}</span>
              </li>
              {{/each}}
            </ul>
            </p>
            <p class="lead text-muted small"> to book a viewing!</p>
          </div>
        </div>
       </div>
    </div>
  </div>

  <!-- Full Details -->
  <div class="container-fluid full-details">
    <div class="row">
      <div class="col-lg-12">
        <div class="container wrapper">
          <div class="row inner">
            <div class="col-lg-8 box">
              <div class="row about">
                <div class="col-lg-12">
                  <h4 class="title">About this listing</h4>
                  <!--<p class="lead">A large, 1-bed apartment in the lively Shoreditch area of Central London. Moments from Old Street tube station & with 100's of bars & restaurants nearby this is the perfect place for you to explore and enjoy everything the city has to offer.</p>-->
                </div>
              </div>
              <hr />
              <div class="row details">
                <div class="col-lg-12">
                  <table class="table">
                    <tbody>
                      <tr class="section amenities">
                        <td class="heading">Amenities</td>
                        <td>
                          {{show-amenity model.amenities.mains}}
                          {{show-amenity model.amenities.water}}
                          {{show-amenity model.amenities.gated}}
                          {{show-amenity model.amenities.pool}}
                          {{show-amenity model.amenities.ac}}
                          {{show-amenity model.amenities.laundry}}
                          {{show-amenity model.amenities.internet}}
                        </td>
                        <td>
                          {{show-amenity model.amenities.standby}}
                          {{show-amenity model.amenities.tank}}
                          {{show-amenity model.amenities.garage}}
                          {{show-amenity model.amenities.garden}}
                          {{show-amenity model.amenities.dstv}}
                          {{show-amenity model.amenities.microwave}}
                        </td>
                      </tr>
                      <tr class="section payment">
                        <td class="heading">Prices</td>
                        <td>
                          <p class="lead">Full Rent: <strong>{{model.price}} <sup>&#8373;</sup></strong></p>
                          <p class="lead">Rent Period: <strong>{{model.period}} Months</strong></p>
                        </td>
                        <td>
                          <p class="lead">Monthly Rent: <strong>{{model.monthly}} <sup>&#8373;</sup></strong></p>
                        </td>
                      </tr>
                      <tr class="section description">
                        <td class="heading">Description</td>
                        <td colspan="2">
                          <p class="lead">{{model.description}}</p>
                        </td>
                      </tr>
                      <tr class="section house-rules">
                        <td class="heading">House Rules</td>
                        <td colspan="2">
                          <p class="lead">{{value-or-default model.rules 'None added'}}</p>
                        </td>
                      </tr>
                      <tr class="section gallery-heading">
                        <td class="heading">Photos</td>
                        <td colspan="2">
                          &nbsp;
                        </td>
                      </tr>
                      <tr class="section photos-grid">
                        <td colspan="3">
                          {{fermis-apartments-home-listing-photos-grid home=model}}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
