<div class="home-detail">
  {{fermis-apartments-image-gallery images=model.images}}

  <!-- Big Banner-->
  <div class="jumbotron home-banner" style="background-image: url(https://a0.muscache.com/im/pictures/110857116/15925182_original.jpg?aki_policy=xx_large)">
    <div class="overlay">
      <p class="lead price-tag">{{value-or-default model.monthly '0'}} <sup>&#8373;</sup>/mo</p>
    </div>
  </div>

  <div class="container summary-and-call-to-action">
    <div class="row">
      <div class="col-lg-2 host-information-box">
        <img id="host-image" src="https://a2.muscache.com/ac/users/44317480/profile_pic/1442606909/original.jpg?interpolation=lanczos-none&crop=w:w;*,*&crop=h:h;*,*&resize=225:*&output-format=jpg&output-quality=70" class="img img-circle img-responsive" />
        <a href="">Yaw</a>
      </div>
       <div class="col-lg-10 summary-and-call-to-action-box">
        <div class="row">
          <div class="col-lg-8 summary-box">
            <div class="summary">
              <h3 class="home-summary">{{model.summary}}</h3>
              <p class="small location-and-room-count">
                <span class="location">
                {{#link-to 'suburb' model.suburb.slug}}{{value-or-default model.suburb.name 'Unknown suburb'}}{{/link-to}},
                {{#link-to 'town' model.town.slug}}{{value-or-default model.town.name 'Unknown town'}}{{/link-to}}
                </span>
              </p>
              <div class="at-a-glance">
                <div class="feature">
                  <img class="img" src="/assets/images/couch3-razmattaz.png" />
                  <span class="feature-label">{{model.halls}} Halls</span>
                </div>
                <div class="feature">
                  <img class="img" src="/assets/images/bed-razmattaz.png" />
                  <span class="feature-label">{{model.bedrooms}} Bedrooms</span>
                </div>
                <div class="feature">
                  <img class="img" src="/assets/images/kitchen6-razmattaz.png" />
                  <span class="feature-label">{{model.kitchens}} Kitchens</span>
                </div>
                <div class="feature">
                  <img class="img" src="/assets/images/toilet-razmattaz.png" />
                  <span class="feature-label">{{model.bathrooms.quantity}} Washrooms</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 call-to-action-box">
            <p class="lead text-muted small">Want to schedule a date and time to see this property?<br /> Call <a href=""><span class="agent-name">Akwasi</span></a> on:</p>
            <h3 class="agent-phone-number">0244 323 000</h3>
            <p class="lead text-muted small"> to book a viewing!</p>
          </div>
        </div>
       </div>
    </div>
  </div>

  <!-- Full Details -->
  <div class="container-fluid full-details">
    <div class="row">
      <div class="col-lg-12">
        <div class="container wrapper">
          <div class="row inner">
            <div class="col-lg-8 box">
              <div class="row about">
                <div class="col-lg-12">
                  <h4 class="title">About this listing</h4>
                  <p class="lead">A large, 1-bed apartment in the lively Shoreditch area of Central London. Moments from Old Street tube station & with 100's of bars & restaurants nearby this is the perfect place for you to explore and enjoy everything the city has to offer.</p>
                </div> 
              </div>
              <hr />
              <div class="row details">
                <div class="col-lg-12">
                  <table class="table">
                    <tbody>
                      <tr class="section amenities">
                        <td class="heading">Amenities</td>
                        <td>
                          {{show-amenity model.home.amenities.mainsPower name='Mains Power' available=true}}
                          {{show-amenity model.home.amenities.runningWater name='Running Water' available=true}}
                          {{show-amenity model.home.amenities.gated name='Gated' available=true}}
                          {{show-amenity model.home.amenities.pool name='Swimming Pool' available=false}}
                          {{show-amenity model.home.amenities.airConditioning name='Air Conditioning' available=true}}
                          {{show-amenity model.home.amenities.washingMachine name='Washing Machine' available=true}}
                          {{show-amenity model.home.amenities.internet name='Internet' available=false}}
                        </td>
                        <td>
                          {{show-amenity model.home.amenities.powerGenerator name='Power Generator' available=true}}
                          {{show-amenity model.home.amenities.waterReservoir name='Water Reservoir' available=false}}
                          {{show-amenity model.home.amenities.garage name='Garage' available=true}}
                          {{show-amenity model.home.amenities.garden name='Garden' available=false}}
                          {{show-amenity model.home.amenities.dstv name='DSTV' available=false}}
                          {{show-amenity model.home.amenities.microwave name='Microwave' available=true}}
                        </td>
                      </tr>
                      <tr class="section payment">
                        <td class="heading">Prices</td>
                        <td>
                          <p class="lead">Full Rent: <strong><sup>&#8373;</sup> {{model.home.price}}</strong></p>
                          <p class="lead">Rent Period: <strong>{{value-or-default model.home.period '24 Months'}}</strong></p>
                        </td>
                        <td>
                          <p class="lead">Monthly Rent: <strong><sup>&#8373;</sup> {{value-or-default model.home.pricePerMonth '0'}}</strong></p>
                        </td>
                      </tr>
                      <tr class="section description">
                        <td class="heading">Description</td>
                        <td colspan="2">
                          <p class="lead">
                          A large 1 double bedroom apartment situated on a popular street in Shoreditch. Old Street underground station is a 2 min walk from the front door as are numerous bus routes.<br /><br />
We meet guests at the apartment to handover keys and show you around. If you need help throughout your stay we are only a few streets away and can be contacted by phone or email. We also provide a very thorough guide to the property and local area. We meet guests at the apartment to handover keys and show you around. If you need help throughout your stay we are only a few streets away and can be contacted by phone or email. We also provide a very thorough guide to the property and local area. <br /><br />
A large 1 double bedroom apartment situated on a popular street in Shoreditch. Old Street underground station is a 2 min walk from the front door as are numerous bus routes.
                          </p>
                        </td>
                      </tr>
                      <tr class="section house-rules">
                        <td class="heading">House Rules</td>
                        <td colspan="2">
                          <p class="lead">
                          We don't have a big list of house rules. The apartment is our home in London and all we ask is that you leave the property in the condition you find it and be considerate to our neighbours. Please no parties.
                          </p>
                        </td>
                      </tr>
                      <tr class="section gallery-heading">
                        <td class="heading">Photos</td>
                        <td colspan="2">
                          &nbsp;
                        </td>
                      </tr>
                      <tr class="section photos-grid">
                        <td colspan="3">
                          {{fermis-apartments-home-listing-photos-grid home=model}}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
