<div id="list-a-home" class="list-a-home container">
  <div class="row header">
    <div class="col-lg-12 wrapper">
      <p class="lead">List A New Property</p>
    </div>
  </div>
  <div class="row section basic listing-info">
    <div class="col-lg-4">
      <h3 class="heading">The Basics</h3>
      <p class="help-block description">Basic information about your listing.</p>
    </div>
    <div class="fields col-lg-7 col-lg-offset-1">
      <div class="form-group">
        <label class="field-label" for="suburb">Suburb</label>
        <select id="suburb" class="form-control input" onchange={{action (mut suburb) value="target.value"}}>
        <option>Choose a Suburb</option>
        {{#each model.suburbs as |choice|}}
        <option value={{choice.id}} selected={{eq suburb choice.id}}>{{choice.name}}</option>
        {{/each}}
        </select>
      </div>
      <div class="form-group">
        <label class="field-label" for="summary">Summary</label>
        {{input class="form-control input" id="summary" value=summary placeholder="E.g. A 2-Bedroom Semi-Detached Executive Home"}}
      </div>
      <div class="form-group">
        <label class="field-label" for="description">Description</label>
        {{textarea class="form-control input" id="description" rows="3" value=description placeholder="Add a detailed description for this property"}}
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="field-label" for="price">Price</label>
            {{input type="text" class="form-control input" value=price placeholder="E.g. GHS 3000"}}
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label class="field-label" for="period">Rent Period</label>
            {{input type="text" class="form-control input" value=period placeholder="E.g. 12 Months"}}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <div class="form-group">
            <label class="field-label" for="bedrooms">Bedrooms</label>
            {{input type="number" class="form-control input" value=bedrooms placeholder="Number of Bedrooms" value="1"}}
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label class="field-label" for="halls">Halls</label>
            {{input type="number" class="form-control input" value=halls placeholder="Number of Halls" value="1"}}
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label class="field-label" for="kitchens">Kitchens</label>
            {{input type="number" class="form-control input" value=kitchens placeholder="Number of Kitchens" value="1"}}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="field-label" for="bathrooms">Bathrooms</label>
            {{input type="number" class="form-control input" value=bathrooms placeholder="Number of Bathrooms" value="1"}}
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label class="field-label" for="halls">Any Shared Bathrooms?</label>
            <div class="radio-button-options"><label class="field-label" for="halls">Yes</label> &nbsp; {{radio-button value=1 groupValue=shared}} &nbsp;&nbsp;&nbsp;<label class="field-label" for="halls">No</label> &nbsp; {{radio-button value=0 groupValue=shared}}</div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="field-label" for="address">Address</label>
        {{textarea class="form-control input" id="address" rows="3" value=address placeholder="Add an address for this property"}}
      </div>
    </div>
  </div>



  <div class="row section amenities">
    <div class="col-lg-4">
      <h3 class="heading">Amenities</h3>
      <p class="help-block description">Select all that apply.</p>
    </div>
    <div class="fields col-lg-7 col-lg-offset-1">
      <div class="row">
        <div class="col-lg-6">
          <div class="checkbox">
            <label class="field-label">
              {{input type="checkbox" checked=internet}} Internet
            </label>
          </div>

          <div class="checkbox">
            <label class="field-label">
              {{input type="checkbox" checked=mains}} Mains Power
            </label>
          </div>

          <div class="checkbox">
            <label class="field-label">
              {{input type="checkbox" checked=water}} Running Water
            </label>
          </div>

          <div class="checkbox">
            <label class="field-label">
              {{input type="checkbox" checked=gated}} Gated
            </label>
          </div>

          <div class="checkbox">
            <label class="field-label">
              {{input type="checkbox" checked=pool}} Swimming Pool
            </label>
          </div>

          <div class="checkbox">
            <label class="field-label">
              {{input type="checkbox" checked=ac}} Air Conditioning
            </label>
          </div>
        </div>


        <div class="col-lg-6">
          <div class="checkbox">
            <label class="field-label">
              {{input type="checkbox" checked=laundry}} Washing Machine
            </label>
          </div>

          <div class="checkbox">
            <label class="field-label">
              {{input type="checkbox" checked=standby}} Power Generator
            </label>
          </div>

          <div class="checkbox">
            <label class="field-label">
              {{input type="checkbox" checked=reservoir}} Water Reservoir / Tank
            </label>
          </div>

          <div class="checkbox">
            <label class="field-label">
              {{input type="checkbox" checked=garage}} Garage
            </label>
          </div>

          <div class="checkbox">
            <label class="field-label">
              {{input type="checkbox" checked=dstv}} DSTV
            </label>
          </div>

          <div class="checkbox">
            <label class="field-label">
              {{input type="checkbox" checked=garden}} Garden
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="row section photos">
    <div class="col-lg-4">
      <h3 class="heading">Property Photos</h3>
      <p class="help-block description">Guests love sharp, vibrant photos of homes! Let's add some.</p>
    </div>
    <div class="fields col-lg-7 col-lg-offset-1">
      <div>
        {{#fermis-file-uploader}}
          <p class="lead text-muted">Click or drag a photo here to upload it.</p>
        {{/fermis-file-uploader}}
      </div>  
    </div>
  </div>



  <div class="row section done">
    <div class="col-lg-4">
      <h3 class="heading">List Your Space</h3>
      <p class="help-block description">All done! Review your information and list your property.</p>
    </div>
    <div class="fields col-lg-7 col-lg-offset-1">
      <button class="btn btn-lg list-property" {{action "createHome" model.host}}>List My Space</button>
    </div>
  </div>
</div>
