<h2>Add new host</h2>
<form>
<p>
  {{input class="title" value=title placeholder="Mrs."}}
  {{input class="firstname" value=firstName placeholder="Agnes"}}
  {{input class="lastname" value=lastName placeholder="Oduro"}}
</p>
<p>
  <select class="gender" onchange={{ action (mut gender) value="target.value"}}>
    <option value="M">Male</option>
    <option value="F">Female</option>
  </select>
</p>
<p>Marital status:
  {{radio-button radioClass="married" value=1 groupValue=married}}Married
  {{radio-button radioClass="married" value=0 groupValue=married}}Not married
</p>
<p class="spouse-details" style="display:{{if married 'block' 'none'}}">
  {{input class="spouse-title" value=spouseTitle placeholder="Mr."}}
  {{input class="spouse-firstname" value=spouseFirstName placeholder="Thomas"}}
  {{input class="spouse-lastname" value=spouseLastName placeholder="Oduro"}}
</p>

<p>{{input class="occupation" value=occupation placeholder="Trader"}}</p>
<p>{{textarea class="story" value=story placeholder="A really nice story, about you."}}</p>
<p>
  <select class="religion" onchange={{action (mut religion) value="target.value"}}>
    <option value="Prefer not to say">Prefer not to say</option>
    <option value="Christian">Christian</option>
    <option value="Muslim">Muslim</option>
    <option value="Traditionalist">Traditionalist</option>
    <option value="Atheist">Atheist</option>
  </select>
</p>
<p>Shot of the host (and their spouse, or even better, family)
{{#fermis-file-uploader}}Drop image here, or click to upload one{{/fermis-file-uploader}}
</p>
<p><button class="submit btn btn-sucess" type="submit" {{action "createHost"}}>Add host</button></p>
</form>
